<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd>
                           ">
    <!-- 添加调度的任务bean 配置对应的class-->
    <bean id="dailyTask" class="com.zzh.food.controller.schedule.DailyTask" />

    <bean id="dailyTaskDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 目标对象，指的是作业任务的实现类 -->
        <property name="targetObject" ref="dailyTask"/>
        <!-- 目标方法，指的是指定实现类中的哪个方法作为调度时的执行方法 -->
        <property name="targetMethod" value="clean"/>
        <!-- 是否并发 -->
        <property name="concurrent" value="false"/>
    </bean>

    <!--配置调度执行的触发的时间-->
    <bean id="dailyTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="dailyTaskDetail" />
        <property name="cronExpression">
            <!-- 天天早上8点执行任务调度 -->
            <value>0 0 0 * * ?</value>
        </property>
    </bean>

    <!-- quartz的调度工厂 调度工厂只能有一个，多个调度任务在list中添加 -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!-- 全部的调度列表-->
                <ref bean="dailyTaskTrigger" />
            </list>
        </property>
    </bean>
</beans>