<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzh.food.dao.CommentMapper">

    <!-- 用户发表评论 -->
    <insert id="addComment">
        insert into food_comment(orderDetailId, userId, commentScore, commentContent, commentTime)
        values (#{orderDetailId}, #{userId}, #{commentScore}, #{commentContent}, NOW())
    </insert>

    <!-- 查询该菜品下的所有评论 -->
    <select id="findByFood" resultType="com.zzh.food.entity.CommentEntity">
        select * from food_view_comment where foodId=#{foodId}
    </select>

    <!-- 查询该用户的所有评论 -->
    <select id="findByUser" resultType="com.zzh.food.entity.CommentEntity">
        select * from food_view_comment where userId=#{userId}
    </select>

</mapper>