<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzh.food.dao.ComplaintMapper">

    <!-- 用户发表投诉 -->
    <insert id="addComplaint">
        insert into food_complaint(userId, orderId, complaintType, target, complaintContent, complaintTime)
        values (#{userId}, #{orderId}, #{complaintType}, #{target}, #{complaintContent}, now())
    </insert>

    <!-- 根据页面传递的条件查询对应的投诉信息 -->
    <select id="findComplaintListByPage" resultType="com.zzh.food.entity.ComplaintEntity">
        select * from food_view_complaint
        <where>
            <if test="complaintId != null"> and complaintId=#{complaintId} </if>
            <if test="complaintType!=null and complaintType!=0"> and complaintType=#{complaintType} </if>
        </where>
        order by complaintTime desc
    </select>

    <!-- 查询该用户的所有投诉 -->
    <select id="findByUser" resultType="com.zzh.food.entity.ComplaintEntity">
        select * from food_view_complaint where userId=#{userId}
    </select>

</mapper>