<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzh.food.dao.ShopcartMapper">
    <!-- 添加菜品SKU到购物车 -->
    <insert id="addShopcart">
        insert into food_shopcart(skuId, userId, numCount)
        values (#{skuId}, #{userId}, #{numCount})
    </insert>

    <!-- 查询用户的购物车中是否存在某个SKU菜品 -->
    <select id="findShopcartRecord" resultType="com.zzh.food.entity.ShopcartEntity">
        select * from food_shopcart where userId=#{userId} and skuId=#{skuId};
    </select>

    <!-- 添加购物车中某个物品的数量 -->
    <update id="addNumCount">
        update food_shopcart set numCount=numCount+#{numCount} where shopcartId=#{shopcartId}
    </update>

    <!-- 查找该用户下的所有购物车信息 -->
    <select id="findAllShopcartByUserId" resultType="com.zzh.food.entity.ShopcartEntity">
        select * from food_view_shopcart where userId=#{userId};
    </select>

    <!-- 该用户某个SKU菜品的数量+1 -->
    <update id="addNumCountOne">
        update food_shopcart set numCount=numCount+1 where shopcartId=#{shopcartId}
    </update>

    <!-- 该用户某个SKU菜品的数量-1 -->
    <update id="reduceNumCountOne">
        update food_shopcart set numCount=numCount-1 where shopcartId=#{shopcartId}
    </update>

    <!-- 删除购物车的某一个条目 -->
    <delete id="deleteShopcart">
        delete from food_shopcart where shopcartId=#{shopcartId}
    </delete>

    <!-- 清空某个用户的购物车 -->
    <delete id="clearShopcart">
        delete from food_shopcart where userId=#{userId}
    </delete>
</mapper>