<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzh.food.dao.UserExtMapper">

    <!-- 根据用户名查询用户信息 -->
    <select id="findUserExtByUserId" resultType="com.zzh.food.entity.UserExtEntity">
        select * from food_user_ext where userId=#{userId}
    </select>

    <!-- 后台添加用户，返回添加的用户Id -->
    <insert id="addUserExt" parameterType="com.zzh.food.vo.UserExtVo">
        insert into food_user_ext (userId, name, idCard, pictureUp, pictureDown, status, createTime, lastOperator)
        values(#{userId}, #{name}, #{idCard}, #{pictureUp}, #{pictureDown}, #{status}, NOW(), #{lastOperator});
    </insert>

    <!-- 后台修改用户信息 -->
    <update id="modifyUserExt" parameterType="com.zzh.food.vo.UserExtVo">
        update food_user
        <set>
            <if test="status!=null and status!=''"> status=#{status}, </if>
            <if test="lastOperator!=null and lastOperator!=''"> phone=#{lastOperator}, </if>
        </set>
        where userId=#{userId}
    </update>

</mapper>